html {overflow-y: scroll;}
body{
	margin: 0;
}
.form-signin{
    opacity: 0;
}
.head{
	background-color: #3F51B5;
	padding: 5px;
}
.stripHead{
	background-color: #303F9F;
	height: 10px;
}
.strip{
	background-color: #F5F5F5;
    height: 80px;
    width: 100%;
}
.logoLpm{
	width:80px;
	height:31px;
	margin: 10px;
	float: left;
}
#tasksManager{
    opacity: 0;
}
#tasksManager .table{
    background-color: #fff;
}
.nav.navbar-right {
    margin-right: 20px;
    float: right!important;
}
#menu3 {
    margin-top: 14px;
    border-radius: 0;
    border: 0;
    top: auto;
    width: 350px;
    padding-bottom: 0;
}
#menu3 i {
    color: #bbb;
    font-size: 12px;
}
#menu3 .panel{
    margin-bottom: 0;
    border: 0;
}
#menu3 .edit {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 96px;
    display: block;
    margin-top: 76px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
}
#editAvatar,#editAvatar:hover,#editAvatar:focus {
    text-decoration: none;
}

#editAvatar .progressBar {
    background: #2CEF08;
    height: 3px;
    margin-top: -23px;
    width: 0%;
}




#user{
    margin-top: 10px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
#user a:hover{
    background-color: transparent;;
}
#user .name{
    color: #fff;
    padding-right: 10px;
    display: none;
}
.clear{
	clear: both;
}
.right{
	float: right;
}
.table{
	text-align: center;
	font-family: arial;
	font-style: 14px;
}
.table td{
	border-left: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	padding: 0px !important;
	width: 100px;
}
.ui-state-hover{
	background-color: #E0E0E0;
}


.draggable { width: 100px; height: 100px;background-color: #9FA8DA;border:0;}
.droppable { width: 100px; height: 100px;background-color: #fff;border:0;}
.lot-1{
		height: 100px;
	background-color: #9FA8DA;
}
.abs{
		height: 100px;
	background-color: #FF4081;
}
.box{
	margin: 10px;
	min-height: 180px;
	width:340px;
	float: left;
}


.connectedSortable {
    width: 100px;
    min-height: 100px;
    list-style-type: none;
    margin: 0;
    float: left;
    padding:0;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  .box .connectedSortable {
  	width: 306px;
    min-height: 180px;
    margin-right: 10px;
    padding: 5px 0 0 0;
  }
  .box .connectedSortable li {
    margin: 1px 1px;
    }
 .connectedSortable li {
    position: relative;
 	display: table;
    margin: 0;
    padding: 0px;
    font-size: 1.2em;
    width: 100px;
    height: 100px;
    float: left;
    border: 0;

    text-align: center;
    transition: background-color 0.5s;
    margin-bottom: 1px;
  }
    li.ui-sortable-placeholder {
        display: block;  
        background-color: #ddd;
        width:  100%:;
    }
  .ui-state-default{
  	background: none;
  	color: #fff;
  	background-color: #ccc;
  }

.releaseSlot{
	width: 100px;
    min-height: 32px;
    list-style-type: none;
    margin: 0;
    float: left;
    padding:0;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.releaseSlot span{
	margin-top: 10px;
	margin-bottom: 10px;
}
.releaseSlot .glyphicon{
	font-size: 10px;
}


.pink{
	background-color: #E91E63;
	background: repeating-linear-gradient(
    -45deg,
    #E91E63,
    #E91E63 10px,
    #D81B60 10px,
    #D81B60 20px
  );
}
.connectedSortable > li.pink.selected {
    background-color: #AD1457;
    background: repeating-linear-gradient(
    -45deg,
    #C2185B,
    #C2185B 10px,
    #AD1457 10px,
    #AD1457 20px
  );
}
.red{
    background-color: #F44336;
}
.connectedSortable > li.red.selected {
    background: #B71C1C;
}
.indigo{
	background-color: #3F51B5;
}
.connectedSortable > li.indigo.selected {
    background: #1A237E;
}
.blue{
	background-color: #2196F3;
}
.connectedSortable > li.blue.selected {
    background: #0D47A1;
}
.cyan{
	background-color: #00BCD4;
}
.connectedSortable > li.cyan.selected {
    background: #006064;
}
.teal{
	background-color: #009688;
}
.connectedSortable > li.teal.selected {
    background: #004D40;
}
.green{
    background-color: #4CAF50;
}
.connectedSortable > li.green.selected {
    background: #1B5E20;
}
.lightGreen{
    background-color: #8BC34A;
}
.connectedSortable > li.lightGreen.selected {
    background: #33691E;
}
.lightGreen{
    background-color: #8BC34A;
}
.connectedSortable > li.lightGreen.selected {
    background: #33691E;
}
.lime{
    background-color: #CDDC39;
}
.connectedSortable > li.lime.selected {
    background: #827717;
}
.amber{
    background-color: #FFC107;
}
.connectedSortable > li.amber.selected {
    background: #FF6F00;
}
.yellow200{
    background-color: #FFF59D;
    color:#000;
}
.connectedSortable > li.yellow200.selected {
    background: #FFEB3B;
}
.table td.leftSep{
	border-left: 4px solid #ccc;
}
.table .week td, .table .day td{
    height: 23px;
    font-size: 12px;
    vertical-align: middle;
}
.tooltip{
	min-height: 200px;
	min-width: 200px;
	font-size: 12px;
	color: #fff;
	padding: 10px;
}
.tooltip h1{
	color: #fff;
	font-size: 16px;
}

.task .title, .task .fileinput-button,#upload #attach_btn,#upload #link_btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
}

.release{
	color: #fff;
	font-weight: bold;
}

.input-group-addon {
	padding: 0;
}
#taskDetail {
    margin-left: 20px;
}
#taskDetail a {
    color: #fff;
}
#taskDetail .desc{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 700px;
}
#closeTask {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
    position: absolute;
    text-align: center;

    padding-top: 16px;
    width: 50px;
    right: 0px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.30);
    top: 0px;
    cursor: pointer;
    margin: 20px;
}
.task input{
    background-color: transparent;
    border:0;
    border-left:2px solid #fff;
    outline: none;
    padding: 0;
    padding-left: 10px;
}

#taskDetail textarea {
    outline: none;
    background-color: transparent;
    width: 100%;
    min-height: 500px;
    border:0;
    padding: 0;
    border-left:2px solid #fff;
    padding-left: 10px;
}
.dataSaved {
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: 2000;
    background-color: #43A047;
    padding: 20px;
    color: #fff;
    margin-left: -27px;
    opacity: 0;
}

#upload{
    width: 100px;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}
.btn-attach, .btn-attach-mini {
    color: #fff;
    width: 100px;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.3);
}
.btn-attach:hover, .btn-attach-mini:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn-attach-mini{
    height: 47px;
}
#upload #progress {
    height: 5px;
    margin-bottom: 0px;
    border-radius: 0px;
}
#files {
    min-height: 100px;
    width: 500px;
    float: right;
}
#files .file {
    width: 100px;
    display: block;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 11px;
}

#files .file .content {
    display: block;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}
.table > tbody > tr > td.firstCol {
    vertical-align: middle;
}

@media only screen and (max-width : 1600px) {

    .table td{ width: 80px;}
    .draggable { width: 80px; height: 80px;}
    .droppable { width: 80px; height: 80px;}
    .connectedSortable {width: 80px;min-height: 80px;}
    .abs{height: 80px;}
    .connectedSortable li {width: 80px; height: 80px;}
    .releaseSlot{width: 80px;}
    .releaseSlot span {font-size: 9px;}

}


@media only screen and (max-width : 1350px) {

    .table td{ width: 60px;}
    .draggable { width: 60px; height: 60px;}
    .droppable { width: 60px; height: 60px;}
    .connectedSortable {width: 60px;min-height: 60px;}
    .abs{height: 60px;}
    .connectedSortable li {width: 60px; height: 60px;}
    .releaseSlot{width: 60px;}
    .releaseSlot span {font-size: 8px;}
}
td.firstCol{
    width: 100%;
}
.bar{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.page{
    padding-top:151px;
}
.barContent {
    margin-left: 0px;
    left: 50%;
    position: absolute;
    margin-top: 4px;
}
.barContent .btn{
    margin-right: 10px;
}
.barContent .btn:last-child {
    margin-right: 0;
}



.bar .btn-primary {
    height: 40px;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #303F9F;
    border-color: transparent;
}
.btn-primary:hover, .btn-primary:focus {
    color: #3F51B5;
    background-color: #fff;
    border-color: transparent;
}
#search{
    display: none;
}
.next{
    margin-left: 50px;
}
.previous{
    margin-right: 50px;
}
.connectedSortable li .env {
    font-size: 10px;
    padding: 3px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
}
.ok {
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.task .contener{
    position: relative;
    width: 100%;
    height :100%;
    display: table;
}
#tasksManagerHead .table{
    margin-bottom: 0;
}
#online {
    float: left;
    margin-top: 4px;
}
.glyphicon-ok-sign , .glyphicon-remove-sign{
    margin-right: 15px;
    font-size: 10px;
    color: #4CAF50;
    top: 0;
}
.glyphicon-remove-sign{
    color: #ccc;    
}
.connectedSortable li:last-child {
    margin-bottom: 0;
}

.dropdown-menu form input{
    border-radius: 0;
}
.task .btn-default{
    background-color: rgba(0, 0, 0, 0.3);
}
.task .btn-default:hover{
    background-color: #fff;
}
.task .btn-default:hover,.task .btn-default:focus{
    background-color: #fff;
    color: #000;
}


#usersLogged {
    border: 1px solid #fff;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    display: block;
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 0;
}
.btn-user {
    margin-top:8px; 
    background: none;
    color: #fff;
    font-size: 18px;
}
#add_release, #add_type {
    padding: 3px 20px;
}
#add_release select.form-control, #add_type select.form-control{
    border-radius: 0;
    border-right: 0;
}
#add_release .btn,#add_type .btn{
    height: 34px;
    border-radius: 0;
}
#usersList {
    border: 0;
    border-radius: 0;
    margin-top: 14px;
    left: -103px;
}
#usersList .glyphicon {
    top: 11px;
    left: -1px;
}
#config .panel {
    border: 0;
    margin-bottom: 0;
}
#config {
    display: none;
    z-index: 3000;
    background-color: #fff;
    width: 350px;
    position: fixed;
    top: 71px;
    right: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.barContent .btn {
    display: none;
}
.barContent #prev, .barContent #next{
    display: block;
}

@media (min-width: 768px){
    #user .name {
        display: initial;
    }
    .barContent {
        margin-left: -230px;
    }
    .barContent .btn{
        display: block;
    }
}

#shifting_next,#shifting_prev{
    color: #fff;
    border: 0;
}
#shifting_next:hover,#shifting_prev:hover{
    color: #000;
}

.link-form {
    float: right;
    margin-left: 20px;
    margin-right: -13px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 100px;
    padding: 10px;
}
.link-form input {
    border: 0;
    background-color: rgba(0,0,0,0.30);
    color: #fff;
}
.link-form .input-group {
    margin-bottom: 10px;
}
.link-form .input-group-addon {
    border: 0;
    background-color: rgba(0,0,0,0.60);
    color: #fff;
    padding: 10px;
}
.links{
    width: 500px;
}
.links .link{
    width: 100px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 11px;
}

.links .btn-link{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 95px;
}

.links .btn-link:hover{
    background-color: rgba(0, 0, 0, 0.5);
}