@keyframes intro {
    from {opacity: 0;}
    to {opacity: 100;}
}

h1,label{
	color: #fff;
	text-align: center;
}
h1{
	font-size: 24px;
	margin-bottom: 20px;
}
body{
	margin: 0;
	background-color: #3F51B5;
	animation-name: intro;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:both;
}
.loading{
	background-color: #fff;
	width: 30px;
	height: 30px;
	margin: auto;
	border-radius: 30px;
	animation-name: intro;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #fff;
}
.head{
	background-color: #3F51B5;
	padding: 5px;
}
.stripHead{
	background-color: #303F9F;
	height: 10px;
}
.strip{
	background-color: #E0E0E0;
	height: 30px;
}
.LPMrond{
	border-radius:50%;
	width:50px;
	height:50px;
	border:2px solid #fff;
	outline:none;
	font-family: Arial;
	color: #fff;
	margin:5px;
	font-weight: bold;
	margin: auto;
	margin-bottom: 40px;
}
div.LPMrond{
	text-align:center;
}

div.LPMrond span{
	position:relative;
	font-size:13px;
	top:12px;
    font-family: 'roboto';
    font-weight: bold;
}
.form-signin {
	margin-top: 200px;
  max-width: 330px;
  padding: 15px;
  margin: 150px auto 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  background-color: #303F9F;
  color:#fff;
  	transition: all 0.5s;
}
.form-signin input:focus {
	outline:none;
	box-shadow:none;
	border-color:transparent;
	background-color: #1A2379;
}
.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  outline: none;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
}
.btn-default {
  color: #fff;
  background-color:transparent;
  border-color: #fff;
  transition: all 0.5s;
}
.btn-default:hover,.btn-default:focus {
  color: #3F51B5;
  background-color: #fff;
  border-color: #fff;
}

.form-control::-webkit-input-placeholder { color:#9FA8DA; }
.form-control::-moz-placeholder { color:#9FA8DA; } /* firefox 19+ */
.form-control::-ms-input-placeholder { color:#9FA8DA; } /* ie */
.form-control::-moz-placeholder { color:#9FA8DA; }

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #303F9F inset;
    -webkit-text-fill-color: #fff !important;
} 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #1A2379 inset;
    -webkit-text-fill-color: #fff !important;
}
