h1,label{
  color: #fff;
  text-align: center;
}
h1{
  font-size: 24px;
  margin-bottom: 20px;
}
body{
  margin: 0;
  background-color: #3F51B5;
}
@keyframes loading {
    0%   {opacity:0}
    50%  {opacity:1}
    100% {opacity:0}
}
#loader{
  position:absolute;
  font-family:arial;
  color:#fff;
  opacity:0;
  left:50%;
  top:50%;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.loading{
  background-color: #fff;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 30px;
  color: #fff;
}
.head{
  background-color: #3F51B5;
  padding: 5px;
}
.stripHead{
  background-color: #303F9F;
  height: 10px;
}
.strip{
  background-color: #E0E0E0;
  height: 30px;
}
.logo{
  margin-bottom: 40px;
  text-align: center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 150px auto 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  background-color: #303F9F;
  color:#fff;
}
.form-signin input:focus {
  outline:none;
  box-shadow:none;
  border-color:transparent;
  background-color: #1A2379;
}
.form-signin input[type="email"] {
  margin-bottom: 5px;

  border: 0;
  outline: none;
}
.form-signin input[type="password"],#form-forgotPassword input[type="email"] {
  margin-bottom: 10px;

  border: 0;
}
.btn-primary {
  color: #fff;
  color: #3F51B5;
  background-color:rgba(255, 255, 255, 0.5);;
  border: 0;
  transition: all 0.5s;
}
.btn-primary:hover,.btn-default:focus {
  color: #3F51B5;
  background-color: #fff;
  border-color: #fff;
}

.form-control::-webkit-input-placeholder { color:#9FA8DA; }
.form-control::-moz-placeholder { color:#9FA8DA; } /* firefox 19+ */
.form-control::-ms-input-placeholder { color:#9FA8DA; } /* ie */
.form-control::-moz-placeholder { color:#9FA8DA; }

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #303F9F inset;
    -webkit-text-fill-color: #fff !important;
} 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #1A2379 inset;
    -webkit-text-fill-color: #fff !important;
}
.form-control {
  transition: none;
}
.forgotPassword{
  color: #fff;
  opacity: 0.5;
}
.forgotPassword:hover{
  color: #fff;
  opacity: 1;

}
/*
.form-signin .form-control {
  transition: all 0.5s;
}
*/
.send-message {
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.send-message .glyphicon {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}
